<style type="text/css">
      
body {
  color: #444444;
  background: #000000;
  
}

.top_slider{
  color: #fd6001;
  font-weight: 2em;


}

.category_list{
  color: #fd6001;
  font-size: 16px;
  font-weight: bold;
}

.mv-section{
  color: #fd6001;
  font-size: 30px;
  font-weight: 400;
  padding-top: 70%;
  text-align: center;
}

.border-style{
  width: 70%;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 7px;
  padding-top: 30px;
  margin-left: 10px;
}

.navbar {
    margin-bottom: 0px !important;
}
.container{
  padding-left: 7%;
  padding-right: 7%;
}

div.holder {
  width: 100%;
  background: #ffffff;
  padding-bottom: 70px;
}
*, ::after, ::before {
    box-sizing: none;
}
</style>
 <div class="holder">

 
    <div class="d-flex flex-md-row">

    
        <div class="col-sm-12 col-md-8 p-2" style="background: url('../assets/article-writing-journalist.png') no-repeat; height: 350px; position:relative;">
       <span style="position:absolute;
       bottom:30px;
       left: 50px;
       text-align:center;
       "> <h3 style="color:#fd6001; font-size: 27px;
        font-weight: bold;">Python for everybody</h3>
        <p style="color:white; font-size:16px;">Python for everybody is designed to introduced students to programming and <br/>
        software development through the lens of exploring data.<br/></p>
        <br/>
        <a href="#" style="background:#fd6001;color:white;padding: 15px; text-align:center; border-radius: 5px; font-size:14px;font-weight:bold;text-decoration: none;">
        Explore more
        </a>
        </span>
        
        </div>
    

    
  <%if @most_voted%> 
      <div class="col-sm-12 col-md-4 p-2" style="display: inline-block;">
      <%= image_tag @most_voted.article_img.url(:article_show), style: "height: 50%; width: 100%; object-fit: cover;" %>
          <a href="/articles/<%= @most_voted.id %>" style="z-index: 999;
                                                      margin: 0 auto;
                                                      left: 0;
                                                      right: 0;
                                                      top: -20%;
                                                      text-align: center;"><p class="mv-section">Most Voted</p></a>
        </div>
  <%else%>
  <div class="col-sm-12 col-md-4 p-2" style="background: url('../assets/mv.jpg') no-repeat; height: 350px;">
        <a href="#"><p class="mv-section">Most Voted</p></a>
        </div>
  <%end%>
    
        
      
    </div>


    <div class="d-flex flex-row">
  <div class="p-1" style="background: url('../assets/lf.jpg') no-repeat; height: 200px; width: 300px;">
  <a href="https://article-application.herokuapp.com/articles?category=Lifestyle" style="text-decoration: none;"> <p class="category_list border-style">Lifestyle</p></a></div>
  <div class="p-1" style="background: url('../assets/cooking.jpg') no-repeat; height: 200px; width: 300px;">
  <a href="https://article-application.herokuapp.com/articles?category=Cooking" style="text-decoration: none;"> <p class="category_list border-style">Cooking</p></a></div>
  <div class="p-1" style="background: url('../assets/article.jpg') no-repeat; height: 200px; width: 300px;">
  <a href="https://article-application.herokuapp.com/articles?category=Technology" style="text-decoration: none;"> <p class="category_list border-style">Technology</p></a></div>
  <div class="p-1" style="background: url('../assets/photo.jpg') no-repeat; height: 200px; width: 300px;">
  <a href="https://article-application.herokuapp.com/articles?category=Photography" style="text-decoration: none;"> <p class="category_list border-style">Photography</p></a></div>
</div>

<h1 class="current-category"><%= params[:category] %></h1>

<% if @articles.count == 0 %>
    <h1> There are no Articles found in this category </h1>
    <%else%>

    <div class="row" %>

    <% @articles.each do |article| %>
    <div class="col-md-3">
    <a href="/articles/<%= article.id %>">
        <%= image_tag article.article_img.url(:article_index), class: "article"%>
    </a>
    </div>
    <% end %>
 </div>

                    <div class="d-flex">



                    </div>

         <hr>

     <% @articles.each do |article| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumb-box">
        <h2 style="text-align:center;"><%= @category%></h2>
       
          <div class="caption" style="text-align:center;">
              <%= link_to like_article_path(article), class: "like", method: :put do %>
                <button type="button" class="btn btn-info" aria-label="Left Align" %>
                  <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                  <span class="badge"><%= article.get_upvotes.size %></span>
                  </button>
                  <% end %>

                  <%= link_to unlike_article_path(article), class: "like", method: :put do %>
                <button type="button" class="btn btn-info" aria-label="Left Align" %>
                  <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
                  <span class="badge"><%= article.get_downvotes.size %></span>
                  </button>
                  <% end %>
              </div>
          </div>
        </div>
      <% end %>

 <%= link_to "Add Article", new_article_path %>
<% end %>

   
 </div>

