
<div class="row">
        <div class="col-md-4">

<%= image_tag @article.article_img.url(:article_show), class: "article-s" %>
    </div>

        <div class="col-md-8">
    <h2><%= @article.title %></h2>
    <h3><%= @article.author %></h3>
    <h4>Category:<%= @article.category.name %></h4>
    <p><%= @article.description  %></p>

    </div>
</div>

    <div class="row">
            <div class="col-md-4">
    <!-- Where the reviews/ratings will go -->
         </div>
    </div>

<%= link_to "Back", root_path %> 

<% if user_signed_in? %>

    <% if @article.user_id == current_user.id %>

<%= link_to "Edit", edit_article_path(@article) %>
    <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?"} %>


    <% end %>
<% end %>

